@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 250vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 200px;
}

section.header {
  background-color: #1f2937;
}

nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-logo a {
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}

.header-links {
  display: flex;
  color: #e5e7eb;
  font-size: 18px;
  gap: 32px;
}

.header-links a {
  color: #f9faf8;
}

.hero {
  display: flex;
  gap: 24px;
}

.hero-signup {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  align-items: flex-start;
  gap: 16px;
  margin-top: 100px;
  margin-bottom: 150px;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-sub-text {
  font-size: 18px;
  color: #e5e7eb;
}

.signup {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 8px 32px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700px;
}

.hero-image {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
  background-color: grey;
  margin-top: 100px;
  margin-bottom: 150px;
}

.info-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding: 64px 0 96px;
}

.section-title {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.articles {
  display: flex;
  justify-content: center;
  gap: 64px;
}

article {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 150px;
}

.article-image {
  border: 4px solid #3882f6;
  border-radius: 16px;
  width: 150px;
  height: 150px;
}

.quote-panel {
  background-color: #e5e7eb;
}

.quote-container {
  display: flex;
  flex-direction: column;
  padding: 100px 100px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.author {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 900;
}

.cta-panel {
  display: flex;
}

.cta-panel-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3882f6;
  margin: 100px 0;
  padding: 64px 0;
  border-radius: 10px;
}

.cta-subpanel-left {
  display: flex;
  flex-direction: column;
}

.cta-main-text {
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}

.cta-sub-text {
  font-size: 18px;
  color: #e5e7eb;
}

.cta-signup {
  font-size: 18px;
  color: #f9faf8;
  border-radius: 10px;
  border: 3px solid #f9faf8;
  padding: 0.5rem 2rem;
}

.footer {
  flex-direction: row;
  background-color: #1f2937;
}

.copyright {
  padding: 64px 0;
  font-size: 18px;
  color: #e5e7eb;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
